#game-board img {
    width: 150px;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
}

body {
    background: black;
}

p, h1 {
    color: white;
    padding-bottom: 10px;
}

#stats {
    padding-top: 20px;
}

#new-game {
    background-color: lightgreen;
    margin-right: 20px;
}

.modal-body p {
    padding-bottom: 10px;
    color: black;
}

#congrats {
    padding-bottom: 15px;
    display: none;
}
